@use "./base.scss";
@use "./themes";

// put your custom CSS here!

.katex {
    font-size: 1em !important;
    line-height: 1.5 !important;
}

.katex-display {
    font-size: 1em !important;
    line-height: 1.6 !important;
    margin: 1em 0 !important;
    text-align: center;
}

.katex-display > .katex {
    line-height: 1.6 !important;
}

h2 img {
  max-width: 100%;
  height: auto;
}